@import '../variables.scss';

.footer {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background: $grey;
  padding: 16px;
  height: 55px;
  font-size: 16px;
  color: $grey-color;
}
