@import '../variables.scss';

.logo {
  cursor: pointer;
  margin-left: 12px;
  font-size: 20px;
  color: $dark;
}

.nav {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: $grey;
  padding: 0 16px;
  height: 60px;
  font-size: 16px;
  color: $grey-color;
  ul {
    margin-left: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 100%;
    list-style: none;
  }
  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    height: 100%;
    transition: 0.2s all ease-in-out;
    color: $dark;
    &:hover {
      background: #cecece;
    }
  }
  a {
    color: black;
    text-decoration: none;
  }
}
